/* Esto es una media query, que es un bloque de css en donde 
los estilos aplicados sólo se verán hasta o desde cierto ancho de pantalla, 
en este caso ancho máximo 576px, lo puse para más comodidad al ver el navbar en mobile */
@media (max-width: 576px) {
    .navbar {
        background: #0dcaf0a3;
    }
}

/* smooth scroll al html*/
/* algo ya lo pone por defecto y no sé que es */
html {
    scroll-behavior: smooth;
  }

/* links footer */
footer a{
    color: white;
}
footer a:hover{
    color: black;
}

/* * {
background: #000 !important;
color: #0f0 !important;
outline: solid #f00 1px !important;
} */