/* Fuente importada de GoogleFonts en 2 grosores para aplicar a body y encabezados */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h5 {
    font-weight: 700;
}

/* smooth scroll al html pero con css*/
/* html {
    scroll-behavior: smooth;
  } */

/* Esto es una media query, que es un bloque de css en donde 
los estilos aplicados sólo se verán hasta o desde cierto ancho de pantalla, 
en este caso ancho máximo 576px, lo puse para más comodidad al ver el navbar en mobile */
@media (max-width: 576px) {
    .navbar {
        background: #0dcaf0c4;
    }
}

/* links footer */
footer a {
    color: white;
}

footer a:hover {
    color: black;
}

/* estilos tooltip customizado */

.custom-tooltip .tooltip-inner {
    background-color: #0dcaf0;
    color: white;
    font-size: 25px;
    border-radius: 50%;
}

.tooltip-arrow {
    display: none !important;
}


/* esto es para que la transición de color de fondo que aplicamos al bajar se demore 1 segundo en ocurrir */
.navbar {
    transition: background-color 1s;
}